extends ./layout

block content

	-
		var menuNames = { "localFamily" : "Family", 
							"localClient" : "Client",
							"localProject" : "Project",
							"localBoard" : "Board",
							"localColumn" : "Column",
							"localCard" : "Card",
							"localComment" : "Comment" };
		
		//
		// Families
		//					
		var familySortOrder = 1;
		if (remoteFamilies && remoteFamilies.length > 0) {
			familySortOrder = remoteFamilies.length + 1;
			// menuNames['localFamily'] = "Pick Family";
		}
		var localFamily = { familyId : 0, "name" : "", sortOrder : 1 }
		if (remoteFamily) {
			localFamily.familyId = remoteFamily._id;
			localFamily.name = remoteFamily.name;
			localFamily.sortOrder = remoteFamily.sortOrder;
			menuNames['localFamily'] = remoteFamily.name;
		}

		//
		// Clients
		//
		var clientSortOrder = 1;
		if (remoteClients && remoteClients.length > 0) {
			clientSortOrder = remoteClients.length + 1;
			// menuNames['localClient'] = "Pick Client";
		}
		var localClient = { clientId : 0, "name" : "", sortOrder : 1, familyId : "0" }
		if (remoteClient) {
			localClient.clientId = remoteClient._id;
			localClient.name = remoteClient.name;
			localClient.sortOrder = remoteClient.sortOrder;
			localClient.familyId = remoteClient.familyId;
			menuNames['localClient'] = remoteClient.name;
		}

		//
		// Projects
		//
		var projectSortOrder = 1;
		if (remoteProjects && remoteProjects.length > 0) {
			projectSortOrder = remoteProjects.length + 1;
			// menuNames['localProject'] = "Pick Project"
		}
		var localProject = { projectId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteProject) {
			localProject.clientId = remoteProject._id;
			localProject.name = remoteProject.name;
			localProject.sortOrder = remoteProject.sortOrder;
			localProject.familyId = remoteProject.familyId;
			menuNames['localProject'] = remoteProject.name;
		}

		//
		// Boards
		//
		var boardSortOrder = 1;
		if (remoteBoards && remoteBoards.length > 0) {
			boardSortOrder = remoteBoards.length + 1;
			// menuNames['localBoard'] = "Pick Board";
		}
		var localBoard = { boardId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteBoard) {
			localBoard.boardId = remoteBoard._id;
			localBoard.name = remoteBoard.name;
			localBoard.sortOrder = remoteBoard.sortOrder;
			localBoard.clientId = remoteBoard.clientId;
			menuNames['localBoard'] = remoteBoard.name;
		}

		//
		// Columns
		//
		var columnSortOrder = 1;
		if (remoteColumns && remoteColumns.length > 0) {
			columnSortOrder = remoteColumns.length + 1;
			// menuNames['localColumn'] = "Pick Column";
		}
		var localColumn = { columnId : 0, "name" : "", sortOrder : 1, boardId : "0" }
		if (remoteColumn) {
			localColumn.boardId = remoteColumn._id;
			localColumn.name = remoteColumn.name;
			localColumn.sortOrder = remoteColumn.sortOrder;
			localColumn.boardId = remoteColumn.boardId;
			menuNames['localColumn'] = remoteColumn.name;
		}
		
		//
		// Cards
		//
		var cardSortOrder = 1;
		if (remoteCards && remoteCards.length > 0) {
			cardSortOrder = remoteCards.length + 1;
			// menuNames['localCard'] = "Pick Card";
		}
		var localCard = { cardId : 0, "name" : "", sortOrder : 1, columnId : "0" }
		if (remoteCard) {
			localCard.cardId = remoteCard._id;
			localCard.name = remoteCard.name;
			localCard.sortOrder = remoteCard.sortOrder;
			localCard.columnId = remoteCard.columnId;
			menuNames['localCard'] = remoteCard.name;
		}

		//
		// Columns
		//
		var commentSortOrder = 1;
		if (remoteComments && remoteComments.length > 0) {
			commentSortOrder = remoteComments.length + 1;
			// menuNames['localComment'] = "Pick Column";
		}
		var localComment = { commentId : 0, "name" : "", sortOrder : 1, cardId : "0" }
		if (remoteComment) {
			localComment.commentId = remoteComment._id;
			localComment.name = remoteComment.name;
			localComment.sortOrder = remoteComment.sortOrder;
			localComment.cardId = remoteComment.cardId;
		}

	include ./menu.jade
		
	table.columns
		tr
			th.column
				h1= menuNames['localFamily']
				p Family

			if remoteFamily
				th.column
					h1= menuNames['localClient']
					p Client

			if remoteClient
				th.column
					h1= menuNames['localProject']
					p Project

			if remoteProject
				th.column
					h1= menuNames['localBoard']
					p Board

			if remoteBoard
				th.column
					h1= menuNames['localColumn']
					p Column

			if remoteColumn
				th.column
					h1= menuNames['localCard']
					p Card

			if remoteCard
				th.column
					h1= menuNames['localComment']
					p Comment

		tr
			td.column
				if remoteFamilies && remoteFamilies.length > 0
					each family in remoteFamilies
						form(method="post", action="/w/families/update", class="form-inline")
							input(type="hidden", name="familyId", value="#{family._id}")
							input(type="hidden", name="sortOrder", value="#{family.sortOrder}")
							.input-group
								input(type="text", name="name", value="#{family.name}", class="form-control", placeholder="")
								.input-group-btn
									button(type="submit", class="btn btn-default") save
				form(method="post", action="/w/families/update", class="form-inline")
					input(type="hidden", name="familyId", value="0")
					input(type="hidden", name="sortOrder", value="#{familySortOrder}")
					.input-group
						input(type="text", name="name", value="", class="form-control", placeholder="")
						.input-group-btn
							button(type="submit", class="btn btn-default") save

			if remoteFamily
				td.column
					if remoteClients && remoteClients.length > 0
						each client in remoteClients
							form(method="post", action="/w/clients/update", class="editing-form")
								input(type="hidden", name="familyId", value="#{client.familyId}")
								input(type="hidden", name="clientId", value="#{client._id}")
								input(type="hidden", name="sortOrder", value="#{client.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{client.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/clients/update", class="form-inline")
						input(type="hidden", name="familyId", value="#{remoteFamily._id}")
						input(type="hidden", name="clientId", value="0")
						input(type="hidden", name="sortOrder", value="#{clientSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save

			if remoteClient
				td.column
					if remoteProjects && remoteProjects.length > 0
						each project in remoteProjects
							form(method="post", action="/w/projects/update", class="editing-form")
								input(type="hidden", name="clientId", value="#{project.clientId}")
								input(type="hidden", name="projectId", value="#{project._id}")
								input(type="hidden", name="sortOrder", value="#{project.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{project.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/projects/update", class="form-inline", id="boardForm")
						input(type="hidden", name="clientId", value="#{remoteClient._id}")
						input(type="hidden", name="projectId", value="0")
						input(type="hidden", name="sortOrder", value="#{projectSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save


			if remoteProject
				td.column
					if remoteBoards && remoteBoards.length > 0
						each board in remoteBoards
							form(method="post", action="/w/boards/update", class="editing-form")
								input(type="hidden", name="projectId", value="#{board.projectId}")
								input(type="hidden", name="boardId", value="#{board._id}")
								input(type="hidden", name="sortOrder", value="#{board.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{board.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/boards/update", class="form-inline", id="boardForm")
						input(type="hidden", name="projectId", value="#{remoteProject._id}")
						input(type="hidden", name="boardId", value="0")
						input(type="hidden", name="sortOrder", value="#{boardSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save

			if remoteBoard
				td.column
					if remoteColumns && remoteColumns.length > 0
						each column in remoteColumns
							form(method="post", action="/w/columns/update", class="editing-form")
								input(type="hidden", name="boardId", value="#{column.boardId}")
								input(type="hidden", name="columnId", value="#{column._id}")
								input(type="hidden", name="sortOrder", value="#{column.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{column.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/columns/update", class="form-inline")
						input(type="hidden", name="boardId", value="#{remoteBoard._id}")
						input(type="hidden", name="columnId", value="0")
						input(type="hidden", name="sortOrder", value="#{columnSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save

			if remoteColumn
				td.column
					if remoteCards && remoteCards.length > 0
						each card in remoteCards
							form(method="post", action="/w/cards/update", class="editing-form")
								input(type="hidden", name="columnId", value="#{card.columnId}")
								input(type="hidden", name="cardId", value="#{card._id}")
								input(type="hidden", name="sortOrder", value="#{card.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{card.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/cards/update", class="form-inline")
						input(type="hidden", name="columnId", value="#{remoteColumn._id}")
						input(type="hidden", name="cardId", value="0")
						input(type="hidden", name="sortOrder", value="#{cardSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save
					
			if remoteCard
				td.column
					if remoteComments && remoteComments.length > 0
						each comment in remoteComments
							form(method="post", action="/w/comments/update", class="editing-form")
								input(type="hidden", name="cardId", value="#{comment.cardId}")
								input(type="hidden", name="commentId", value="#{comment._id}")
								input(type="hidden", name="sortOrder", value="#{comment.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{comment.name}" class="form-control" placeholder="")
									.input-group-btn
										button(type="submit", class="btn btn-default") save
					form(method="post", action="/w/comments/update", class="form-inline")
						input(type="hidden", name="cardId", value="#{remoteCard._id}")
						input(type="hidden", name="commentId", value="0")
						input(type="hidden", name="sortOrder", value="#{commentSortOrder}")
						.input-group
							input(name="name" value="", placeholder="", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") save

	include ./crumbs.jade