extends ./layout

block content

	-
		var menuNames = { "localFamily" : "Family", 
							"localClient" : "Client",
							"localProject" : "Project",
							"localBoard" : "Board",
							"localColumn" : "Column",
							"localCard" : "Card",
							"localComment" : "Comment" };
		
		//
		// Families
		//					
		var familySortOrder = 1;
		if (remoteFamilies && remoteFamilies.length > 0) {
			familySortOrder = remoteFamilies.length + 1;
		}
		var localFamily = { familyId : 0, "name" : "", sortOrder : 1 }
		if (remoteFamily) {
			localFamily.familyId = remoteFamily._id;
			localFamily.name = remoteFamily.name;
			localFamily.sortOrder = remoteFamily.sortOrder;
			menuNames['localFamily'] = remoteFamily.name;
		}

		//
		// Clients
		//
		var clientSortOrder = 1;
		if (remoteClients && remoteClients.length > 0) {
			clientSortOrder = remoteClients.length + 1;
		}
		var localClient = { clientId : 0, "name" : "", sortOrder : 1, familyId : "0" }
		if (remoteClient) {
			localClient.clientId = remoteClient._id;
			localClient.name = remoteClient.name;
			localClient.sortOrder = remoteClient.sortOrder;
			localClient.familyId = remoteClient.familyId;
			menuNames['localClient'] = remoteClient.name;
		}

		//
		// Projects
		//
		var projectSortOrder = 1;
		if (remoteProjects && remoteProjects.length > 0) {
			projectSortOrder = remoteProjects.length + 1;
		}
		var localProject = { projectId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteProject) {
			localProject.clientId = remoteProject._id;
			localProject.name = remoteProject.name;
			localProject.sortOrder = remoteProject.sortOrder;
			localProject.familyId = remoteProject.familyId;
			menuNames['localProject'] = remoteProject.name;
		}

		//
		// Boards
		//
		var boardSortOrder = 1;
		if (remoteBoards && remoteBoards.length > 0) {
			boardSortOrder = remoteBoards.length + 1;
		}
		var localBoard = { boardId : 0, "name" : "", sortOrder : 1, clientId : "0" }
		if (remoteBoard) {
			localBoard.boardId = remoteBoard._id;
			localBoard.name = remoteBoard.name;
			localBoard.sortOrder = remoteBoard.sortOrder;
			localBoard.clientId = remoteBoard.clientId;
			menuNames['localBoard'] = remoteBoard.name;
		}

		//
		// Columns
		//
		var columnSortOrder = 1;
		if (remoteColumns && remoteColumns.columns && remoteColumns.columns.length > 0) {
			columnSortOrder = remoteColumns.columns.length + 1;
		}
		var localColumn = { columnId : 0, "name" : "", sortOrder : 1, boardId : "0" }
		if (remoteColumn) {
			localColumn.boardId = remoteColumn._id;
			localColumn.name = remoteColumn.name;
			localColumn.sortOrder = remoteColumn.sortOrder;
			localColumn.boardId = remoteColumn.boardId;
			menuNames['localColumn'] = remoteColumn.name;
		}		
	
	include ./menu.jade

	div.scroll
		table.columns
			tr#columns-container
				each column in remoteColumns.columns

					-
						var cards = [];
						var columnId = column._id;
						cards = remoteColumns.cards ? remoteColumns.cards[columnId] : [];
						var addCardForm = "add-card-form-" + columnId;
						var addCardNameField = "add-card-name-field-" + columnId;
						var updateColumnForm = "update-column-form-" + columnId;
						var updateColumnNameField = "update-column-name-field-" + columnId;
						var updateColumnButton = "update-column-button-" + columnId;
						var columnElementId = "column-" + column._id;

					td.column
						
						button(draggable="true", id="#{updateColumnButton}" type="button", class="btn btn-default dropdown-toggle title drag-handle", onclick="$('##{updateColumnForm}').toggle();$('##{updateColumnButton}').toggle();$('##{updateColumnNameField}').select();")= column.name
						
						form(id="#{updateColumnForm}" method="post", action="/w/columns/update", class="form-inline title", style="display: none")
							input(type="hidden", name="boardId", value="#{column.boardId}")
							input(type="hidden", name="columnId", value="#{column._id}")
							input(type="hidden", name="sortOrder", value="#{column.sortOrder}")
							.input-group
								input(id="#{updateColumnNameField}", name="name", value="#{column.name}", placeholder="", type="text", class="form-control", class="form-control")
								table.buttons
									tr
										td
											button(type="submit", class="btn btn-primary update-column") s
										td
											button(type="button", class="btn btn-warning update-column", onclick="$('##{updateColumnForm}').toggle();$('##{updateColumnButton}').toggle();") c
						
						ul.sortableCards(id="#{column._id}")
							each card in cards
								-
									var cardButtonId = "card-" + card._id;
									var textAreaId = "textarea-" + card._id;

								li(id="#{card._id}")
									form(method="post", action="/w/cards/update", class="form-inline card")
										div(class="form-container")
											div.handle
												input(type="hidden", name="cardId", value="#{card._id}")
												textarea(id="#{textAreaId}" rows="3" name="name" placeholder="Card Name", class="form-control", onclick="$('##{cardButtonId}').show()")= card.name
												table.buttons(id="#{cardButtonId}", style="display: none")
													tr
														td
															button(type="submit", class="btn btn-primary", class="update-card") s
														td
															button(type="button", class="btn btn-info", data-toggle="modal", data-cardid="#{card._id}", data-cardsortorder="#{card.sortOrder}", data-cardname="#{card.name}", data-columnId="#{column._id}", onclick="$('#cardModal').modal({})") e
														td
															button(type="button", class="btn btn-warning", class="update-card", onclick="$('##{cardButtonId}').hide()") c
																	
						form(id="#{addCardForm}" method="post", action="/w/cards/update", class="form-inline card", style="display: none")
							div(class="form-container")
								div.handle
									input(type="hidden", name="cardId", value="#{0}")
									input(type="hidden", name="columnId", value="#{column._id}")
									textarea(rows="3", id="#{addCardNameField}" name="name" placeholder="Card Name", class="form-control update-card", onfocus="$('##{cardButtonId}').show()")
									table.buttons
										tr
											td
												button(type="submit", class="btn btn-primary", class="update-card") s
											td
												button(type="button", class="btn btn-warning", class="update-card", onclick="$('##{addCardForm}').hide()") c
	
						div(class="update-card")
							a(href="#", onclick="$('##{addCardForm}').toggle();$('##{addCardNameField}').select();") Add Card
													
				td.column
					button(id="add-column-button", type="button", class="btn btn-default plus",
						   onclick="$('#add-column-form').toggle();$('#add-column-button').toggle();$('#add-column-name').focus()")
						span(class="glyphicon glyphicon-plus")

					form(id="add-column-form", method="post", action="/w/columns/update", class="form-inline", style="display: none")
						input(type="hidden", name="boardId", value="#{remoteBoard._id}")
						input(type="hidden", name="columnId", value="0")
						input(type="hidden", name="sortOrder", value="#{columnSortOrder}")
						.input-group
							input(id="add-column-name", name="name" value="", placeholder="Column Name", type="text", class="form-control")
							table.buttons
								tr
									td
										button(type="submit", class="btn btn-primary update-column") s
									td
										button(type="button", class="btn btn-warning update-column", onclick="$('#add-column-form').toggle();$('#add-column-button').toggle();") c

	- var commentSortOrder = 3;
	
	div(class="modal fade", id="cardModal", tabindex="-1", role="dialog")
		div(class="modal-dialog", role="document")
			div(class="modal-content")
				div(class="modal-body")
					input(type="hidden", name="cardId", value="0", id="cardId")
					input(type="hidden", name="sortOrder", value="0", id="cardSortOrder")
					form
						div(class="form-group")
							label(for="recipient-name", class="control-label") Title:
							input(type="text", class="form-control", name="name", id="cardName")
						div(class="form-group")
							label(for="message-text", class="control-label") Description:
							textarea(class="form-control", id="cardDescription", rows="12")
				div(class="modal-footer")
					button(type="button", class="btn btn-primary") save
					button(type="button", class="btn btn-warning", data-dismiss="modal") cancel

	include ./crumbs.jade