div.menu

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")

			li.dropdown
				a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true" aria-expanded="false")= menuNames['localFamily']
					span.caret
				ul(class="dropdown-menu")
					li
						a(href="/w/families") All Families
					li.divider(role="separator")
					if remoteFamilies && remoteFamilies.length > 0
						each family in remoteFamilies
							li
								a(href='/w/families/#{family._id}') #{family.name}

			if remoteClients && remoteClients.length > 0
				li.dropdown
					a(href="#", 
					  class="dropdown-toggle",
					  data-toggle="dropdown",
					  role="button",
					  aria-haspopup="true"
					  aria-expanded="false")= menuNames['localClient']
						span.caret
					ul(class="dropdown-menu")
						li
							a(href="/w/families/#{remoteFamily._id}") All Clients
						li.divider(role="separator")
						each client in remoteClients
							li
								a(href='/w/clients/#{client._id}') #{client.name}					

			if remoteProjects && remoteProjects.length > 0
				li.dropdown
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true" aria-expanded="false")= menuNames['localProject']
						span.caret
					ul(class="dropdown-menu")
						li
							a(href="/w/clients/#{remoteClient._id}") All Projects
						li.divider(role="separator")
						each project in remoteProjects
							li
								a(href='/w/projects/#{project._id}') #{project.name}					

			if remoteBoards && remoteBoards.length > 0
				li.dropdown
					a(href="#", 
					  class="dropdown-toggle",
					  data-toggle="dropdown",
					  role="button",
					  aria-haspopup="true"
					  aria-expanded="false")= menuNames['localBoard']
						span.caret
					ul(class="dropdown-menu")
						li
							a(href="/w/projects/#{remoteProject._id}") All Boards
						li.divider(role="separator")
						each board in remoteBoards
							li
								a(href='/w/boards/#{board._id}') #{board.name}

			if remoteColumns && remoteColumns.columns && remoteColumns.columns.length > 0
				li.dropdown
					a(href="#", 
					  class="dropdown-toggle",
					  data-toggle="dropdown",
					  role="button",
					  aria-haspopup="true"
					  aria-expanded="false")= menuNames['localColumn']
						span.caret
					ul(class="dropdown-menu sortableColumns")
						li(class="dontMove")
							a(href="/w/projects/#{remoteProject._id}") All Columns
						li(class="dontMove divider", role="separator")
						each column in remoteColumns.columns
							li.sortableColumn
								a(href='/w/boards/#{column._id}') #{column.name}
						li(class="dontMove divider", role="separator")
						li(class="dontMove")
							a(href="/w/projects/#{remoteProject._id}") Save
