extends layout

block content

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false") Family
					span.caret
				ul(class="dropdown-menu")
					li
						a(href="/w/families") All Families
					li.divider(role="separator")

	-
		var localFamily = { familyId : 0, "name" : "", sortOrder : 1 }
		if (remoteFamily) {
			localFamily.familyId = remoteFamily._id;
			localFamily.name = remoteFamily.name;
			localFamily.sortOrder = remoteFamily.sortOrder;
		}
		var familySortOrder = 1;
		if (remoteFamilies) {
			familySortOrder = remoteFamilies.length + 1;
		}

		var localGroup = { groupId : 0, "name" : "", sortOrder : 1, familyId : "0" }
		if (remoteGroup) {
			localGroup.groupId = remoteGroup._id;
			localGroup.name = remoteGroup.name;
			localGroup.sortOrder = remoteGroup.sortOrder;
			localGroup.familyId = remoteGroup.familyId;
		}
		var groupSortOrder = 1;
		if (remoteGroups) {
			groupSortOrder = remoteGroups.length + 1;
		}

		var localBoard = { boardId : 0, "name" : "", sortOrder : 1, groupId : "0" }
		if (remoteBoard) {
			localBoard.boardId = remoteBoard._id;
			localBoard.name = remoteBoard.name;
			localBoard.sortOrder = remoteBoard.sortOrder;
			localBoard.groupId = remoteBoard.groupId;
		}
		var boardSortOrder = 1;
		if (remoteBoards) {
			boardSortOrder = remoteBoards.length + 1;
		}

		var localColumn = { columnId : 0, "name" : "", sortOrder : 1, boardId : "0" }
		if (remoteColumn) {
			localColumn.boardId = remoteColumn._id;
			localColumn.name = remoteColumn.name;
			localColumn.sortOrder = remoteColumn.sortOrder;
			localColumn.boardId = remoteColumn.boardId;
		}
		var columnSortOrder = 1;
		if (remoteColumns) {
			columnSortOrder = remoteColumns.length + 1;
		}
		
		var localCard = { cardId : 0, "name" : "", sortOrder : 1, columnId : "0" }
		if (remoteCard) {
			localCard.cardId = remoteCard._id;
			localCard.name = remoteCard.name;
			localCard.sortOrder = remoteCard.sortOrder;
			localCard.columnId = remoteCard.columnId;
		}
		var cardSortOrder = 1;
		if (remoteCards) {
			cardSortOrder = remoteCards.length + 1;
		}

		var localComment = { commentId : 0, "name" : "", sortOrder : 1, cardId : "0" }
		if (remoteComment) {
			localComment.commentId = remoteComment._id;
			localComment.name = remoteComment.name;
			localComment.sortOrder = remoteComment.sortOrder;
			localComment.cardId = remoteComment.cardId;
		}
		var commentSortOrder = 1;
		if (remoteComments) {
			commentSortOrder = remoteComments.length + 1;
		}
		
	table.top-level
		tr
			th
				h1 Family
			if remoteFamily
				th
					h1 Group
			if remoteGroup
				th
					h1 Board
			if remoteBoard
				th
					h1 Column

		tr
			td
				form(method="post", action="/w/families/update", class="form-inline")
					input(type="hidden", name="familyId", value="0")
					input(type="hidden", name="sortOrder", value="#{familySortOrder}")
					.input-group
						input(name="name", value="", placeholder="Family Name", type="text", class="form-control")
						.input-group-btn
							button(type="submit", class="btn btn-default") submit
			
			if remoteFamily
				td
					form(method="post", action="/w/groups/update", class="form-inline")
						input(type="hidden", name="familyId", value="#{remoteFamily._id}")
						input(type="hidden", name="groupId", value="0")
						input(type="hidden", name="sortOrder", value="#{groupSortOrder}")
						.input-group
							input(name="name" value="", placeholder="Group Name", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") submit
			if remoteGroup
				td
					form(method="post", action="/w/boards/update", class="form-inline")
						input(type="hidden", name="groupId", value="#{remoteGroup._id}")
						input(type="hidden", name="boardId", value="0")
						input(type="hidden", name="sortOrder", value="#{boardSortOrder}")
						.input-group
							input(name="name" value="", placeholder="Board Name", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") submit
			if remoteBoard
				td
					form(method="post", action="/w/columns/update", class="form-inline")
						input(type="hidden", name="groupId", value="#{remoteBoard._id}")
						input(type="hidden", name="boardId", value="0")
						input(type="hidden", name="sortOrder", value="#{columnSortOrder}")
						.input-group
							input(name="name" value="", placeholder="Board Name", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") submit

		if remoteFamily
			tr.selected
				td
					form(method="post", action="/w/families/update", class="form-inline")
						input(type="hidden", name="familyId", value="#{localFamily.familyId}")
						input(type="hidden", name="sortOrder", value="#{localFamily.sortOrder}")
						.input-group
							input(name="name", value="#{localFamily.name}", placeholder="Family Name", type="text", class="form-control")
							.input-group-btn
								button(type="submit", class="btn btn-default") submit
			
				if remoteFamily
					td
						if remoteGroup
							form(method="post", action="/w/groups/update", class="form-inline")
								input(type="hidden", name="familyId", value="#{localGroup.familyId}")
								input(type="hidden", name="groupId", value="#{localGroup.groupId}")
								input(type="hidden", name="sortOrder", value="#{localGroup.sortOrder}")
								.input-group
									input(name="name" value="#{localGroup.name}", placeholder="Group Name", type="text", class="form-control")
									.input-group-btn
										button(type="submit", class="btn btn-default") submit
						else
							| &nbsp;
				if remoteGroup
					td
						if remoteBoard
							form(method="post", action="/w/boards/update", class="form-inline")
								input(type="hidden", name="groupId", value="#{localGroup.groupId}")
								input(type="hidden", name="boardId", value="#{localBoard.boardId}")
								input(type="hidden", name="sortOrder", value="#{localBoard.sortOrder}")
								.input-group
									input(name="name" value="#{localBoard.name}", placeholder="Board Name", type="text", class="form-control")
									.input-group-btn
										button(type="submit", class="btn btn-default") submit
						else
							| &nbsp;

		tr
			td
				if remoteFamilies && remoteFamilies.length > 0
					each family in remoteFamilies
						form(method="post", action="/w/families/update", class="editing-form")
							input(type="hidden", name="familyId", value="#{family._id}")
							input(type="hidden", name="sortOrder", value="#{family.sortOrder}")
							.input-group
								input(type="text", name="name", value="#{family.name}", class="form-control", placeholder="Family Name")
								.input-group-btn
									button(type="submit", class="btn btn-default") submit
				else
					| &nbsp;

			if remoteFamily
				td
					if remoteGroups && remoteGroups.length > 0
						each group in remoteGroups
							form(method="post", action="/w/groups/update", class="editing-form")
								input(type="hidden", name="familyId", value="#{group.familyId}")
								input(type="hidden", name="groupId", value="#{group._id}")
								input(type="hidden", name="sortOrder", value="#{group.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{group.name}" class="form-control" placeholder="Group Name")
									.input-group-btn
										button(type="submit", class="btn btn-default") submit
					else
						| &nbsp;

			if remoteGroup
				td
					if remoteBoards && remoteBoards.length > 0
						each board in remoteBoards
							form(method="post", action="/w/boards/update", class="editing-form")
								input(type="hidden", name="groupId", value="#{board.groupId}")
								input(type="hidden", name="boardId", value="#{board._id}")
								input(type="hidden", name="sortOrder", value="#{board.sortOrder}")
								.input-group
									input(type='text', name='name', value="#{board.name}" class="form-control" placeholder="Board Name")
									.input-group-btn
										button(type="submit", class="btn btn-default") submit
					else
						| &nbsp;
