extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href="/w/boards/0") New Board
		|&nbsp;|&nbsp;
		a(href='/w/boards/#{board._id}') View Board
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?") View Column
		|&nbsp;|&nbsp;
		a(href="/w/stories/#{story._id}") View Story
		|&nbsp;|&nbsp;
		a(href="/w/stories/#{story._id}?action=delete") Delete Story

	h1 Edit Story

	h2 Story
	
	p
		form(method="post", action="/w/stories/update")
			input(type="text", name="storyName", placeholder="Story Name" value="#{story.name}")
			button(type="submit") submit
			input(type="hidden", name="storyId", value="#{story._id}")
			input(type="hidden", name="columnId", value="#{column._id}")
			input(type="hidden", name="sortOrder", value="#{story.sortOrder}")
