extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href="/w/boards/0") New Board
		|&nbsp;|&nbsp;
		a(href='/w/boards/#{board._id}') View Board
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?") View Column
		|&nbsp;|&nbsp;
		a(href="/w/stories/#{story._id}?action=edit") Edit Story
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{story._id}?action=delete") Delete Story

	h1 Story View

	ul
		li #{story.name}
