extends ../layout

block content

	-
		var docsNameURL = 'families';
		var docsName = 'Families';
		var docName = 'Family';
		
		var childDocsNameURL = 'groups';
		var childDocsName = 'Groups';
		var childDocName = 'Group';
		
		var localDoc = { name : "", id : "0", sortOrder : "1" };
		var family = remoteDoc;
		if (remoteDoc && remoteDoc.name && remoteDoc._id) {
			localDoc.name = remoteDoc.name;
			localDoc.id = remoteDoc._id;
			localDoc.sortOrder = remoteDoc.sortOrder;
		}
		

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false") Family
					span.caret
				ul(class="dropdown-menu")
					li
						a(href="/w/families") All Families
					li.divider(role="separator")
					li
						a(href="/w/#families/0") New Family
					if family
						li
							a(href="/w/families/#{family._id}") View #{family.name}
					else
						li.disabled
							a View Family
					li.disabled
						if remoteDoc
							a(href="/w/families/#{family._id}?action=edit") Edit #{family.name}
						else
							a Edit Family
					if family
						li
							a(href="/w/families/#{family._id}?action=delete") Delete #{family.name}
					else
						li.disabled
							a Delete Family

	table.top-level
		tr
			th
				h1 #{docName}
			th
				h1 #{childDocsName}
		tr
			td
				form(method="post", action="/w/#{docsNameURL}/update", class="form-inline")
					input(type="hidden", name="sourcePage" value="parent/editor")
					input(type="hidden", name="docId", value="#{localDoc.id}")
					input(type="hidden", name="sortOrder", value="#{localDoc.sortOrder}")
					.input-group
						input(type="text", class="form-control", placeholder="#{docName} Name", name="name" value="#{localDoc.name}")
						.input-group-btn
							button(type="submit", class="btn btn-default") submit
							
			td
				if remoteChildren && remoteChildren.length > 0
					each child in remoteChildren
						form(method="post", action="/w/#{childDocsNameURL}/update", class="editing-form")
							input(type="hidden", name="sourcePage" value="parent/editor")
							input(type="hidden", name="docId", value="#{child._id}")
							input(type="hidden", name="parentDocId", value="#{localDoc.id}")							
							input(type="hidden", name="sortOrder", value="#{child.sortOrder}")
							.input-group
								input(type="text", name="name", value="#{child.name}", class="form-control", placeholder="#{childDocName} Name")
								.input-group-btn
									button(type="submit", class="btn btn-default") submit
		tr
			td &nbsp;
			td
				form(method="post", action="/w/#{childDocsNameURL}/update")
					input(type="hidden", name="sourcePage" value="parent/editor")
					input(type="hidden", name="docId", value="0")
					input(type="hidden", name="sortOrder", value="#{remoteChildren ? remoteChildren.length + 1 : 1}")
					input(type="hidden", name="parentDocId", value="#{localDoc.id}")
					.input-group
						input(type='text', name='name', value="" class="form-control" placeholder="New #{childDocName} Name")
						.input-group-btn
							button(type="submit", class="btn btn-default") submit

