extends ../layout

block content

	-
		var docsNameURL = 'families';
		var docsName = 'Families';
		var docName = 'Family';
		
		var childDocsNameURL = 'groups';
		var childDocsName = 'Groups';
		
		var localDoc = { name : "", id : "0", sortOrder : "1" };
		var family = remoteDoc;
		if (remoteDoc && remoteDoc.name && remoteDoc._id) {
			localDoc.name = remoteDoc.name;
			localDoc.id = remoteDoc._id;
			localDoc.sortOrder = remoteDoc.sortOrder;
		}
		

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false") Family
					span.caret
				ul(class="dropdown-menu")
					li
						a(href="/w/families") All Families
					li.divider(role="separator")
					li
						a(href="/w/#families/0") New Family
					if family
						li
							a(href="/w/families/#{family._id}") View #{family.name}
					else
						li.disabled
							a View Family
					li.disabled
						if remoteDoc
							a(href="/w/families/#{family._id}?action=edit") Edit #{family.name}
						else
							a Edit Family
					if family
						li
							a(href="/w/families/#{family._id}?action=delete") Delete #{family.name}
					else
						li.disabled
							a Delete Family

	h1 #{docName} Editor
	
	p
		form(method="post", action="/w/#{docsNameURL}/update", class="form-inline")
			input(type="hidden", name="docId", value="#{localDoc.id}")
			input(type="hidden", name="sortOrder", value="#{localDoc.sortOrder}")
			div.input-group
				input(type="text", class="form-control", placeholder="#{docName} Name", name="name" value="#{localDoc.name}")
				div(class="input-group-btn")
					button(type="submit", class="btn btn-default") submit
		
	if localDoc.name && localDoc.name.length > 0
		h1= childDocsName
		p
			form(method="post", action="/w/#{childDocsNameURL}/update")
				input(type="text", name="sortOrder", size="2")
				input(type='text', name='name', size="60")
				input(type="hidden", name="docId", value="0")
				input(type="hidden", name="parentId", value="#{localDoc.id}")
				button(type="submit") submit

		if children && children.length > 0
			each child in children
				p
					form(method="post", action="/w/#{childDocsNameURL}/update")
						input(type="text", name="sortOrder", value="#{child.sortOrder}", size="2")
						input(type="text", name="name", value="#{child.name}", size="60")
						input(type="hidden", name="parentDocId", value="#{localDoc.id}")
						input(type="hidden", name="docId", value="#{child._id}")
						input(type="hidden", name="sourcePage" value="parent/editor")
						button(type="submit") submit
