extends ../layout

block content

	-
		var docsNameURL = 'families';
		var docsName = 'Families';
		var docName = 'Family';				

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| #{docsName}
					span.caret
				ul(class="dropdown-menu")
					li.disabled
						a(href="/w/#{docsNameURL}") All #{docsName}
					li
						a(href="/w/#{docsNameURL}/0") New #{docName}

	h1 #{docsName}
	
	ul
		if remoteDocs
			each remoteDoc in remoteDocs
				li
					a(href='/w/#{docsNameURL}/#{remoteDoc._id}') - #{remoteDoc.sortOrder}.#{remoteDoc.name}
