div.menu

	nav(class="navbar navbar-default")
		select#families-dropdown
			option(value="") All Families
			if remoteFamilies && remoteFamilies.length > 0
				each family in remoteFamilies
					option(value='/w/families/#{family._id}')= family.name
		if remoteClients && remoteClients.length > 0
			select#clients-dropdown
				option(value='/w/families/#{remoteFamily._id}') All Clients
				each client in remoteClients
					option(value='/w/clients/#{client._id}')= client.name
		if remoteProjects && remoteProjects.length > 0
			select#projects-dropdown
				option(value='/w/clients/#{remoteClient._id}') All Projects
				each project in remoteProjects
					option(value='/w/projects/#{project._id}')= project.name
		if remoteBoards && remoteBoards.length > 0
			select#boards-dropdown
				option(value='/w/projects/#{remoteProject._id}') All Boards
				each board in remoteBoards
					option(value='/w/boards/#{board._id}')= board.name

	nav(class="navbar navbar-default")
		ul#families-menu
			li Families
				ul
					li
						a(href='/w/families') All Families
					if remoteFamilies && remoteFamilies.length > 0
						each family in remoteFamilies
							li
								a(href='/w/families/#{family._id}')= family.name
		if remoteClients && remoteClients.length > 0
			ul#clients-menu
				li Clients
					ul
						li
							a(href='/w/families/#{remoteFamily._id}') All Clients
						each client in remoteClients
							li
								a(href='/w/clients/#{client._id}')= client.name
		if remoteProjects && remoteProjects.length > 0
			ul#projects-menu
				li Projects
					ul
						li
							a(href='/w/clients/#{remoteClient._id}') All Projects
						each project in remoteProjects
							li
								a(href='/w/projects/#{project._id}')= project.name
		if remoteBoards && remoteBoards.length > 0
			ul#boards-menu
				li Boards
					ul
						li
							a(href='/w/projects/#{remoteProject._id}') All Boards
						each board in remoteBoards
							li
								a(href='/w/boards/#{board._id}')= board.name
