extends ../layout

block content

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Boards
					span(class="caret")
				ul(class="dropdown-menu")
					li
						a(href="/w/boards/0") New Board
					li
						a(href="/w/boards/#{board._id}") View Board
					li
						a(href="/w/boards/#{board._id}?action=edit") Edit Board
					li
						a(href="/w/boards/#{board._id}?action=delete") Delete Board
					li 
						a(href="/w/boards") All Boards

			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Columns
					span(class="caret")
				ul(class="dropdown-menu")
					li 
						a(href="/w/columns/#{column._id}") View Column
					li.disabled 
						a(href="/w/columns/#{column._id}?action=edit") Edit Column
					li
						a(href="/w/columns/#{column._id}?action=delete") Delete Column
		
	-
		var columnName = "";
		var columnId = 0;
		var sortOrder = 0;
		columnName = column.name;
		columnId = column._id;
		sortOrder = column.sortOrder;

	h1 Board
	
	ul
		li= board.name
	
	h1 Column
	
	p
		form(method="post", action="/w/columns/update")
			input(type="text", name="columnName", placeholder="Column Name" value="#{columnName}", size="70")
			button(type="submit") submit
			input(type="hidden", name="columnId", value="#{columnId}")
			input(type="hidden", name="boardId", value="#{board._id}")
			input(type="hidden", name="sortOrder", value="#{sortOrder}")

	h1 Stories
	
	if columnName
		p
			form(method="post", action="/w/stories/update")
				input(type="text", name="sortOrder", size="3")
				input(type='text', name='storyName', size="60")
				input(type="hidden", name="columnId", value="#{columnId}")
				button(type="submit") submit

	if stories && stories.length > 0
		each story in stories
			p
				form(method="post", action="/w/stories/update")
					input(type="text", name="sortOrder", value="#{story.sortOrder}", size="3")
					input(type="text", name="storyName", value="#{story.name}", size="60")
					input(type="hidden", name="storyId", value="#{story._id}")
					input(type="hidden", name="columnId", value="#{columnId}")
					input(type="hidden", name="source" value="columns/edit")
					button(type="submit") submit
