extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href="/w/boards/0") New Board
		|&nbsp;|&nbsp;
		a(href='/w/boards/#{board._id}') View Board
		|&nbsp;|&nbsp;
		a(href="/w/boards/#{board._id}?action=edit") Edit Board
		|&nbsp;|&nbsp;
		a(href="/w/boards/#{board._id}?action=delete") Delete Board
		
	p
		|View Column
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?action=edit") Edit Column
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?action=delete") Delete Column

	h1 Board
	
	ul
		li #{board.name}
			
		
	h1 Column

	ul
		li #{column.name}

	h1 Stories

	if stories && stories.length > 0
		ul
			each story in stories
				li
					a(href='/w/stories/#{story._id}') #{story.name}
	else
		ul
			li
				a(href="/w/columns/#{column._id}?action=edit") Edit Stories
			