extends ../layout

block content

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Boards
					span(class="caret")
				ul(class="dropdown-menu")
					li 
						a(href="/w/boards") All Boards
					li
						a(href="/w/boards/0") New Board
					li
						a(href="/w/boards/#{board._id}") View Board
					li
						a(href="/w/boards/#{board._id}?action=edit") Edit Board
					li
						a(href="/w/boards/#{board._id}?action=delete") Delete Board

			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Columns
					span(class="caret")
				ul(class="dropdown-menu")
					li.disabled 
						a(href="/w/columns/#{column._id}") View Column
					li 
						a(href="/w/columns/#{column._id}?action=edit") Edit Column
					li
						a(href="/w/columns/#{column._id}?action=delete") Delete Column

	h1 Board
	
	ul
		li #{board.name}
			
		
	h1 Column

	ul
		li #{column.name}

	h1 Stories

	if stories && stories.length > 0
		ul
			each story in stories
				li
					a(href='/w/stories/#{story._id}') #{story.name}
	else
		ul
			li
				a(href="/w/columns/#{column._id}?action=edit") Edit Column
			