extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href="/w/boards/0") New Board
		if board._id
			|&nbsp;|&nbsp;
			a(href='/w/boards/#{board._id}') View Board
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?action=edit") Edit Column
		|&nbsp;|&nbsp;
		a(href="/w/columns/#{column._id}?action=delete") Delete Column

	h1 Column View

	ul
		li #{column.name}

	h1 Stories

	if stories
		ul
			each story in stories
				li
					a(href='/w/stories/#{story._id}') #{story.name}