extends ../layout

block content

	nav(class="navbar navbar-default")
		ul(class="nav navbar-nav")
			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Boards
					span(class="caret")
				ul(class="dropdown-menu")
					li 
						a(href="/w/boards") All Boards
					li.divider(role="separator")
					li
						a(href="/w/boards/0") New Board
					li
						a(href="/w/boards/#{board._id}") View Board
					li
						a(href="/w/boards/#{board._id}?action=edit") Edit Board
					li
						a(href="/w/boards/#{board._id}?action=delete") Delete Board

			li.dropdown
				a(href="#", 
				  class="dropdown-toggle",
				  data-toggle="dropdown",
				  role="button",
				  aria-haspopup="true"
				  aria-expanded="false")
					| Columns
					span(class="caret")
				ul(class="dropdown-menu")
					li
						a(href="/w/columns/#{column._id}") View Column
					li 
						a(href="/w/columns/#{column._id}?action=edit") Edit Column
					li
						a(href="/w/columns/#{column._id}?action=delete") Delete Column
						
			if story
				li.dropdown
					a(href="#", 
					  class="dropdown-toggle",
					  data-toggle="dropdown",
					  role="button",
					  aria-haspopup="true"
					  aria-expanded="false")
						| Stories
						span(class="caret")
					ul(class="dropdown-menu")
						li.disabled
							a(href="/w/stories/#{story._id}") View Story
						li
							a(href="/w/stories/#{story._id}?action=edit") Edit Story
						li
							a(href="/w/stories/#{story._id}?action=delete") Delete Story

	h1 Board
	
	ul
		li #{board.name}
	
	h1 Column
	
	ul
		li #{column.name}

	h1 Story
	
	ul
		li #{story.name}
