extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href='/w/boards/0') New Board
		if board
			|&nbsp;|&nbsp;
			a(href='/w/boards/#{board._id}') View Board
	
	-
		var boardName = "";
		var boardId = "0";
		if (board && board.name && board._id) {
			boardName = board.name;
			boardId = board._id
		}
	
	if boardName
		h1 Edit Board
	else
		h1 New Board
		
	h2 Board

	p
		form(method="post", action="/w/boards/update")
			input(type="text", name="boardName", placeholder="Board Name" value="#{boardName}")
			button(type="submit") submit
			input(type="hidden", name="boardId", value="#{boardId}")

	h2 Columns
	
	if columns
		each column, i in columns
			p
				form(method="post", action="/w/columns/update")
					input(type="text", name="sortOrder", value="#{column.sortOrder}", size="3")
					input(type="text", name="columnName", value="#{column.name}")
					input(type="hidden", name="boardId", value="#{boardId}")
					input(type="hidden", name="columnId", value="#{column._id}")
					button(type="submit") submit

	p
		form(method="post", action="/w/columns/update")
			input(type="text", name="sortOrder", size="3")
			input(type='text', name='columnName')
			input(type="hidden", name="boardId", value="#{boardId}")
			button(type="submit") submit
