extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		if board
			|&nbsp;|&nbsp;
			a(href='/w/boards/0') New Board
			|&nbsp;|&nbsp;
			a(href='/w/boards/#{board._id}') View Board
			|&nbsp;|&nbsp;
			a(href="/w/boards/#{board._id}?action=delete") Delete Board
	
	-
		var boardName = "";
		var boardId = "0";
		if (board && board.name && board._id) {
			boardName = board.name;
			boardId = board._id
		}
	
	if boardName
		h1 Edit Board
		h2 Board
	else
		h1 New Board
		
	p
		form(method="post", action="/w/boards/update")
			input(type="text", name="boardName", placeholder="Board Name" value="#{boardName}")
			button(type="submit") submit
			input(type="hidden", name="boardId", value="#{boardId}")

	if columns
		h2 Columns
	
		each column in columns
			p
				form(method="post", action="/w/columns/update")
					input(type="text", name="sortOrder", value="#{column.sortOrder}", size="3")
					input(type="text", name="columnName", value="#{column.name}")
					input(type="hidden", name="boardId", value="#{boardId}")
					input(type="hidden", name="columnId", value="#{column._id}")
					input(type="hidden", name="source" value="boards/edit")
					button(type="submit") submit

		p
			form(method="post", action="/w/columns/update")
				input(type="text", name="sortOrder", size="3")
				input(type='text', name='columnName')
				input(type="hidden", name="boardId", value="#{boardId}")
				button(type="submit") submit
