extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href='/w/boards/0') New Board
	
	-
		var boardName = "";
		var boardId = "0";
		if (board && board.name && board._id) {
			boardName = board.name;
			boardId = board._id
		}
	
	if boardName
		h1 Edit Board
	else
		h1 New Board
		
	h2 Board

	form(method="post", action="/w/boards/update")
		table
			tr
				td Board Name:
				td
					input(type="text", name="boardName", placeholder="Board Name" value="#{boardName}")
					button(type="submit") submit
		input(type="hidden", name="boardId", value="#{boardId}")

	h2 Columns
	
	if columns
		ul
			each column, i in columns
				li
					a(href='/w/columns/#{column._id}') #{column.name}

	form(method="post", action="/w/columns/update")
		p New Column Name:&nbsp;
			input(type='text', name='columnName')
			button(type="submit") submit
		input(type="hidden", name="boardId", value="#{boardId}")
