extends ../layout

block content
	div.dropdown
		button(class="btn btn-default dropdown-toggle", type="button", id="nav-boards", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
			| Boards
			span(class="caret")
		ul(class="dropdown-menu", aria-labelledby="nav-boards")
			li 
				a(href="/w/boards") All Boards
			if board
				li
					a(href='/w/boards/0') New Board
				li
					a(href='/w/boards/#{board._id}') View Board
				li
					a(href="/w/boards/#{board._id}?action=delete") Delete Board
	
	-
		var boardName = "";
		var boardId = "0";
		if (board && board.name && board._id) {
			boardName = board.name;
			boardId = board._id
		}

	h1 Board
	p
		form(method="post", action="/w/boards/update")
			input(type="text", name="boardName", placeholder="Board Name" value="#{boardName}", size="70")
			button(type="submit") submit
			input(type="hidden", name="boardId", value="#{boardId}")
	
	h1 Columns
	if boardName
		p
			form(method="post", action="/w/columns/update")
				input(type="text", name="sortOrder", size="3")
				input(type='text', name='columnName', size="60")
				input(type="hidden", name="boardId", value="#{boardId}")
				button(type="submit") submit

	if columns && columns.length > 0
		each column in columns
			p
				form(method="post", action="/w/columns/update")
					input(type="text", name="sortOrder", value="#{column.sortOrder}", size="3")
					input(type="text", name="columnName", value="#{column.name}", size="60")
					input(type="hidden", name="boardId", value="#{boardId}")
					input(type="hidden", name="columnId", value="#{column._id}")
					input(type="hidden", name="source" value="boards/edit")
					button(type="submit") submit
