extends ../layout

block content
	p
		a(href="/w/boards") All Boards
		|&nbsp;|&nbsp;
		a(href="/w/boards/0") New Board
		|&nbsp;|&nbsp;
		a(href="/w/boards/#{board._id}?action=edit") Edit Board
		|&nbsp;|&nbsp;
		a(href="/w/boards/#{board._id}?action=delete") Delete Board

	h1 Board View

	ul
		li #{board.name}

	h1 Columns

	if columns
		ul
			each column in columns
				li
					a(href='/w/columns/#{column._id}') #{column.name}
